<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
</head>
<body layout:fragment="content">

    <h1>Modifica <%= @entity.name.capitalize %></h1>

    <div th:include="<%= @entity.collection_downcase %>/form:: form('/<%= @entity.collection_downcase %>/'+${<%= @entity.single_downcase %>.<%= @entity.primary_key.name %>})"></div>

    <a th:href="@{'/<%= @entity.collection_downcase %>/'+${<%= @entity.single_downcase %>.<%= @entity.primary_key.name %>}}">Dettaglio</a>
    <a th:href="@{'/<%= @entity.collection_downcase %>'}">Indietro</a>

</body>
</html>
