<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <meta charset="utf-8">
        <title>Dettaglio <%= @name.capitalize %></title>
    </head>
    <body layout:fragment="content">
			<p>
				<strong>Id:</strong>
				<span th:text="${<%= @name.downcase %>.id}"></span>
			</p>
			<% @properties.each do |property| -%>
				<p>
				  <strong><%= property[:name].capitalize %>:</strong>
				  <span th:text="${<%= @name.downcase %>.<%= property[:name] %>}"></span>
				</p>
			<% end -%>

			<a th:href="@{'/<%= @name.downcase %>/'+${<%= @name.downcase %>.id}+'/edit'}">Modifica</a>
			<a th:href="@{'/<%= @name.downcase %>'}">Indietro</a>

  </body>
</html>
