<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
    <head>
        <meta charset="utf-8">
        <title>Dettaglio <%= @entity.name.capitalize %></title>
    </head>
    <body layout:fragment="content">
      <% @entity.properties.each do |property| -%>
        <p>
          <strong><%= property[:name].capitalize %>:</strong>
          <span th:text="${<%= @entity.name.downcase %>.<%= property.camel_rather_dash %>}"></span>
        </p>
      <% end -%>

      <a th:href="@{'/<%= @entity.collection.downcase %>/'+${<%= @entity.name.downcase %>.<%= @entity.primary_key.name %>}+'/edit'}">Modifica</a>
      <a th:href="@{'/<%= @entity.collection.downcase %>'}">Indietro</a>

  </body>
</html>
