<p>
  lista-persone works!
</p>
<table>
  <head>
    <tr>
      <% @entity.properties.each do |property| -%><th><%= property[:name].capitalize %></th>
      <% end -%><th colspan="3"></th>
    </tr>
  </head>
  <tr *ngFor="let <%= @entity.single_downcase  -%> of <%= @entity.collection_downcase  -%>">
    <% @entity.properties.each do |property| -%>
    <td><a <% if property.is_pk?  -%>(click)="mostra<%= @entity.single_capitalize  -%>(<%= @entity.single_downcase  -%>.id)"<% end -%>>{{<%= @entity.single_downcase  -%>.<%= property.name -%>}}</a></td>
    <% end  -%>
  </tr>
</table>